.DS_Store
.cache/
.zig-cache/
zig-out/
.silex/
compile_commands.json
Editors/Zed/grammars/
Editors/Zed/.dev/
Editors/Zed/target/
Toolchain/Tests/Packages/**/Silex.lock
Toolchain/Smokes/Packages/**/Silex.lock
Toolchain/Tests/NativePackages/**/Silex.lock
Toolchain/Smokes/NativePackages/**/Silex.lock
